:root {
  --main-background-color: rgb(230, 230, 230);
  --sidebar-background-color: linear-gradient(0deg, hsl(295, 35%, 45%), hsl(180, 35%, 45%));
  --sidebar-background-color-hover: rgb(207, 201, 169);
  --topbar-background-color: white;
  --button-background-color: linear-gradient(135deg, hsl(295, 60%, 60%) 1%, hsl(180, 60%, 60%) 99%);
  --topbar-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
  --sidebar-text-color: white;
  --button-text-color: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* =========side-bar============ */
.side-bar {
  background: var(--sidebar-background-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-content: start;
  grid-auto-rows: auto;
  z-index: 2;
}
/* turn icon and text white >>>>>>>>>>>> */
.side-bar h1,
.logo-container > img,
.side-bar a {
  color: black;
  filter: invert(1);
}
/*<<<<<<<<<<<<<<< turn icon and text white */
.logo-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.logo-container > img {
  width: 3rem;
}
.navigation-links {
  display: grid;
  grid-template: inherit;
  gap: 2rem;
}
.navigation-links img {
  width: 1.8rem;
}
.navigation-links a {
  display: block;
  font-size: 1.5rem;
  padding: 0.6rem 0 0.6rem 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.navigation-links a:hover {
  background-color: var(--sidebar-background-color-hover);
}
/* <<<<<<<<<<<< end of header section */

/* =================main container section======================  */
.main-container {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--main-background-color);
}
/* =========top bar=========== */
.top-bar {
  background-color: var(--topbar-background-color);
  box-shadow: var(--topbar-shadow);
  display: grid;
  grid-template-rows: auto auto;
  padding-left: 2%;
  padding-right: 2%;
}
/* top row >>>>>>>>>>>>>>>*/
.top-bar-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4rem;
  justify-content: space-between;
}
.top-bar-top button {
  background-color: var(--topbar-background-color);
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.top-bar-top button img {
  width: 100%;
}
.top-bar-top-left {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}
.top-bar-top-left input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
}
.top-bar-top-right {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 2rem 3rem auto;
  align-items: center;
  justify-content: center;
  gap: max(0.5rem, 8%);
}
.profile-pic {
  width: 3rem;
  border-radius: 50%;
}
.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 0.2rem;
}
/* bottom row>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.top-bar-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem ;
}
.top-bar-bottom-left {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr;
}
.top-bar-bottom .profile-pic-larger {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 4.5rem;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.top-bar-bottom .profile-message {
  align-self: end;
  font-weight: bold;
}
.top-bar-bottom .profile-name {
  align-self: start;
  font-size: 1.3rem;
  font-weight: bold;
}
.top-bar-bottom-right {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: min(100%, 500px);
}
.top-bar-bottom-right button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  border: none;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.top-bar-bottom-right button:hover{
  transform: translateY(-2px);
  filter: brightness(108%);
}
.top-bar-bottom-right button:active{
  transform: translateY(0px);
  filter: brightness(90%);
}
/* ================end of top bar====================== */

/* =====================================content================================== */